<div class="version">

	<h3>Version 20.8.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Museum 2, Resort</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Magazine - Banner - z-index</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Pre-built websites - WordPress Importer - Updated to version 0.6.4</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Section, Wrap, Column - Background Color - Alpha channel (transparency)</li>
			<li>Pre-built website: Farm, Decor 2</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Theme Options - Colors - Back to Top button - Affects Popup Contact Form button<br />
  			[ Theme Options > Colors > Footer > Back to Top & Popup Contact Form ]
			</li>
			<li>Pre-built website: Webdeveloper, Yoga 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Builder - Import & Templates - If post is a draft, save it, do not publish</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Translation Files - New translation strings</li>
			<li>WooCommerce 3.3.2 - Outdated copies of some WooCommerce template files</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Section - Style - Checkboxes to select multiple values</li>
			<li>Countdown Item & Shortcode - Option to hide seconds, minutes, hours</li>
			<li>New Google Fonts - 857 fonts available</li>
			<li>Pre-built website: Birthday, Lawyer 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog & Portfolio - Lightbox: Show image Alt text as caption for lightbox image</li>
			<li>Header: Below Slider & Revolution Slider 5.4.7 - Sticky Header</li>
			<li>Style: Simple - Section Style: Dark - Countdown Item text color</li>
			<li>Safari - Visual Composer - Hover Box - Back face visibility</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Theme Options - Wider textarea field & some inputs replaced by textareas</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.4.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Hotel 3, Eco Beef</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>WooCommerce 3.3.1 Compatibility - Pagination template</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Countdown - More timezones and principal cities list</li>
			<li>Pre-built website: Photography, App3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog & Portfolio - Share Box - Style: Classic</li>
			<li>Header: Below Slider - Minimalist without header space</li>
			<li>RTL - The Content direction</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Footer - Option to hide entire footer<br />
  			[ Theme Options > Footer > Style > Hide Footer ]
			</li>
			<li>Hreflang Tag in Header - The same as HTML lang code</li>
			<li>Pre-built website: Car Wash, Robotics</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Under Construction - Contact Form 7</li>
			<li>Share Box shortcode</li>
			<li>Layer Slider + Wrap: Move Up - z-index</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>System Status - Check if Home URL domain is the same as Site URL domain</li>
			<li>Pre-built website: GSM Service, Snowpark</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Admin Panel - Search Pages/Posts - Minor PHP notice</li>
			<li>Header Fixed - Main Menu - 1st level - Description</li>
			<li>Header Fixed + Action Bar - Hash Smooth Scroll (.scroll)</li>
			<li>Plugin - The Events Calendar - Sidebar width</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>IE - Deprecated scripts removed</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>BeTheme Dashboard - Link to Betheme Licenses page</li>
			<li>Pre-built website: Wanderer, Pizza 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Section: Decoration Image + Wrap: Move Up - z-index</li>
			<li>Style Simple + Dark - Opening Hours Item - Text color</li>
			<li>Sidebar - Minor PHP notice</li>
			<li>IE - Slider Item - Style: Carousel - Title - Line height</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>System Status - cURL - Check if server supports cURL</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Social Icons - WhatsApp</li>
			<li>Pre-built website: Winter, CV</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>
				Header Creative - Social icons - Color - The same as in other headers<br />
  			[ Theme Options > Colors > Action Bar > Social Icon ]
			</li>
			<li>
				WooCommerce 3.2.6 - Shop page display - Show categories<br />
				[ WooCommerce > Settings > Products > Display: Shop page display ]
			</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Brazilian Translation</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.9</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Muffin Builder - Wrap - Move Up - Option to disable on tablet<br />
				[ Theme Options > Responsive > General > Wrap | Move Up ]
			</li>
			<li>
				Mobile - Column Item - Text Align select ( left, right, center, justify )<br />
  			[ Item Options > Text Align | Mobile ]
			</li>
			<li>Pre-built website: Company, Stylist</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.8</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WooCommerce 3.3 Compatibility - Tested with the Beta 1 version</li>
			<li>New Google Fonts - 848 fonts available</li>
			<li>Pre-built website: Bistro 2</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Theme button color - Highlighted button text color<br />
			  [ Theme Options > Colors > Content > Button theme | color ]
  		</li>
			<li>Pre-built website: Music 2, Language 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Section style: Dark - Forms - Color options</li>
			<li>Google Chrome - Muffin Builder - The ESC button closes any edit window in the builder</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Translation Files - New translation strings</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.6.1</h3>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>
				Shop - Default product sorting<br />
				[ WooCommerce > Settings > Display > Default product sorting ]
			</li>
			<li>IE11 - Image Frame - Style: Zoom - Hover effect</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Muffin Builder - Wrap - Move Up - Option to disable on mobile<br />
  			[ Theme Options > Responsive > General > Wrap | Move Up ]
  		</li>
			<li>Pre-built website: Employment</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog - Archives - Order by &amp; Order - The same as on the Blog page</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Forms - Input, Select &amp; Textarea - Placeholder color<br />
  				[ Theme Options > Colors > Forms > Placeholder color ]
  			</li>
			<li>Muffin Builder - The ESC button closes any edit window in the builder</li>
			<li>Pre-built website: Watchmaker, Pay</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>How it Works Item &amp; Shortcode - Without background image</li>
			<li>Section - Style: Equal Height of Wraps - Exclude divider</li>
			<li>Section - Style: Equal Height of Items in wrap - Exclude divider</li>
			<li>Google Chrome - Admin Bar enabled - Blank space below footer</li>
			<li>Gravity Forms - Survey Add-On - Checkbox</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Shop Slider - Less than 4 items - Show wider slides</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Portfolio - Single - Screen Options: Custom Fields</li>
			<li>Pre-built website: Animals 2, Artist 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>RTL - Theme Options</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Map Item - Contact Box - Misleading arrow removed</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Personal trainer, Developer 3</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Creative - Mobile Menu: Sticky - Window resize</li>
			<li>Header Creative - Mobile - Sticky Logo | Remove max-height &amp; padding</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.2.1</h3>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>BeTheme Dashboard - Install Plugins - Premium bundled plugins list</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Hover Color Item &amp; Shortcode - Text Align select (left, right, center, justify)<br />
 				[ Item Options > Text Align ]
  			</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Style Simple - Shop - Alert - Duplicated icon</li>
			<li>Responsive - Decrease Fonts - Sidebar: Widget Title</li>
			<li>Visual Composer - Accordion - Sidebar Height</li>
			<li>Visual Composer - Icon Box - Default icon: icon-lamp</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Magnific Popup - Gallery - Counter - Text: 1 of 2 changed into 1 / 2</li>
			<li>BeTheme Dashboard - Updates check</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>New Google Fonts - 846 fonts available</li>
			<li>Pre-built website: Detailing 3, Carpenter 2, Internet</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Slider Item &amp; Shortcode - Style: Center mode - Slide with link</li>
			<li>Error 404 page - Headings colors from Theme Options</li>
			<li>Blog &amp; Portfolio - Single - Format: Video - Fullscreen - Vertical alignment</li>
			<li>PHP 7.2 Compatibility - Code using create_function() has been removed</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Blog &amp; Portfolio - Format: Video - Player - More native, less distracting look</li>
			<li>Translation Files - New translation strings</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.7</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WordPress 4.9 Compatibility - Tested with the Beta 3 version</li>
			<li>
				Forms - Input, Select &amp; Textarea - Border width<br />
  				[ Theme Options > Colors > Forms > Border width ]
			</li>
			<li>
				Facebook Pixel code - Theme Options field<br />
				[ Theme Options > SEO > Facebook | Pixel ]
			</li>
			<li>Layouts - Show Layout ID on layouts list</li>
			<li>Under Construction - Admin Bar notice</li>
			<li>Pre-built website: Airport, Salmon</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog &amp; Portfolio - Single - Minor HTML code cleanup</li>
			<li>WPML - Attachment attributes per language</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Trailer Box - Item &amp; Shortcode - Style: Plain ( style="plain" )<br />
				[ Item Options > Advanced > Style ]
			</li>
			<li>Pre-built website: Detailing 2, Drawing</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Share Shortcode - Style: Simple</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Portfolio - Post Meta - Option to hide each separately: Author, Date, Categories<br />
				[ Theme Options > Blog, Portfolio &amp; Shop > Portfolio > Options > Post Meta ]
			</li>
			<li>Pre-built website: Mockup, Denim</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Header Creative: Always Open - Social Icons</li>
			<li>White Label &amp; Third party plugins - Minor compatibility fix</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Theme Options - Deprecated options page link removed</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Single Post - Subheader Background Image<br />
  				[ Post Options > Media > Subheader | Image ]
  			</li>
			<li>Pre-built website: Meeting, Manicure</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Gallery Item - Images re-selecting</li>
			<li>Section - Decoration Image Top &amp; Bottom - z-index</li>
			<li>Install Plugins - Show link even if all plugins are activated und up-to-date</li>
			<li>Google Chrome - Shop - Single product - jQuery UI Tabs</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>JS - Enqueue scripts - Minor code cleanup</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Added: Mobile - Custom Main Menu<br />
  				[ Theme Options > Responsive > Header > Menu ]
  			</li>
			<li>WooCommerce 3.2 Compatibility - Tested with the RC version</li>
			<li>Pre-built website: Meat, Vegetables</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog - Category, Tag &amp; Author Page - Filters</li>
			<li>Lightbox - YouTube video - Last related screen removed</li>
			<li>Header Creative - Social Icons - Click on the last icon</li>
			<li>Widgets - Muffin Recent Posts - Minor PHP notice</li>
			<li>Custom Post Types - Single - Unnecessary permalinks removed</li>
			<li>WPML - Theme Options - Custom Menu - Show menus in current language only</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Translation Files - New translation strings</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.6</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Responsive - Side Slide Menu - Width select<br />
				[ Theme Options > Responsive > Header > Side Slide | Width ]
			</li>
			<li>Pre-built website: Cafe 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Fixed: Share Box - Style: Simple &amp; Shop - Single Product - Style: Modern</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>
				Shop - Single Product - Product Image - Deprecated option removed<br />
				( Since WooCommerce 3.0 new product gallery has been merged in to core )
			</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.5.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>WooCommerce 3.2 Compatibility - Tested with the Beta 2 version</li>
			<li>Pre-built website: Tiles 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Section - Style: Equal Height of Items in wrap - Pricing Item</li>
			<li>
				WPML - Custom Language Switcher in Main Menu - Dropdown with Flags - Menu width<br />
				[ WPML > Languages > Menu language switcher ]
			</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Brazilian Translation</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.5.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Slider Item &amp; Shortcode - Option to hide navigation ( navigation="hide" )<br />
  				[ Item Options > Navigation > Hide ]
  			</li>
			<li>RTL - BeTheme Dashboard</li>
			<li>RTL - Pre-built websites</li>
			<li>Pre-built website: Hip-Hop</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>RTL - WooCommerce - Cart &amp; Checkout pages</li>
			<li>WPML - Blog &amp; Portfolio - Single - Missing Translation Tag</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.5.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Blog - Filters - jQuery filtering<br />
				[ Theme Options > Blog, Portfolio &amp; Shop > Blog > Filters | jQuery filtering ]
			</li>
			<li>Pre-built website: Game</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Front page displays latest posts - Breadcrumbs - Duplicated blog link removed</li>
			<li>Front page displays latest posts - Filters</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.5</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Image Item &amp; Shortcode - Select image size from Settings > Media > Image sizes<br />
				[ Item Options > Image | Size ]
			</li>
			<li>
				Share Box - Style: Simple (without external scripts)<br />
				[ Theme Options > Blog, Portfolio &amp; Shop > General > Share Box | Style ]
			</li>
			<li>Pre-built website: Marina</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>White Label - Old Theme Options link removed</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Deutsch Translation - Feature List Item title</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Clinic 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Blog Item - Load More button - Post format: Video - Show videos</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Blog Item - Load More button - Works even with pagination off</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.3.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Assistance</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>New Google Fonts - 832 fonts available</li>
			<li>Pre-built website: Sushi 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Section: Full Screen &amp; Full Width - Padding</li>
			<li>Blog &amp; Portfolio - Filters - Close button width</li>
			<li>Timeline Item - HTML lists - Default style</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>System Status - PHP Time Limit - Do not show error if set to 0</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Pre-built website: Repair</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Muffin Builder - Blog &amp; Portfolio items - Theme Options link</li>
			<li>Pre-built websites - All Done screen - Theme Options link</li>
			<li>Pre-built website: Space - Missing slider demo</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Google Font shortcode - Inline attribute (inline="1")</li>
			<li>Pre-built website: 3D</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>
				Gallery - Link to: Media file - Show image alt text as caption for lightbox image<br/>
				[ Theme Options > Addons &amp; plugins > Addons > Lightbox > Options ]
			</li>
			<li>Gallery - Item with Caption - Margin below image</li>
			<li>Section style: Dark - Blockquote item &amp; shortcode - Quote image &amp; line</li>
			<li>Dashboard - Useful links section - Theme Options link</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.4</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Builder Item - Visual Editor - Add Media button</li>
			<li>Pre-built website: Code</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>RTL - Header Split - Search Icon - Position</li>
			<li>Dashboard - System Status - Uploads folder writable - Invalid name</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>Builder Item - Visual Editor - Visual/Text switch - Native WordPress look</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.3</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Blog Page - Order by (date, title, rand) &amp; Order (DESC, ASC)<br />
  				[ Theme Options > Blog, Portfolio &amp; Shop > Blog > Order by / Order ]
  			</li>
			<li>
				Muffin Builder Items - Blog, Blog News, Blog Slider, Blog Teaser - Order by &amp; Order<br />
  				[ Item Options > Order by / Order ]
  			</li>
			<li>Pre-built website: Spa 2</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>RTL - Visual Composer - Section: Stretch section</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.2</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>
				Open Graph Image Field (Facebook share image)<br />
				Set globally for the whole site: [ Theme Options > SEO > Open Graph | Image ]<br />
				or separately for each Single Post, Page, Portfolio: [ Post/Page Options (below Muffin Builder) > SEO > Open Graph | Image ]
			</li>
			<li>Pre-built website: IT</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>Widgets - Muffin Recent Posts - Style: Blog News - Description padding</li>
		</ul>
	</div>

	<div class="update">
		<span class="dashicons dashicons-update"></span>
		<strong>Updates</strong>
		<ul>
			<li>WooCommerce 3.1 - Outdated copies of some WooCommerce template files</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.1</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Muffin Builder Item - Image Gallery</li>
			<li>
				Widgets - Muffin Recent Posts - Style: Blog News<br />
  				[ Widgets > Muffin Recent Posts > Style ]
			</li>
			<li>Pre-built website: Upholsterer</li>
		</ul>
	</div>

	<div class="fix">
		<span class="dashicons dashicons-hammer"></span>
		<strong>Bugfixes</strong>
		<ul>
			<li>
				Mobile - Header Creative + Mobile Header: Minimal<br/>
				[ Theme Options > Responsive > Header > Mobile options > Minimal ]
			</li>
			<li>
				WooCommerce - Show Secondary product image on Hover - PHP Notice<br/>
				[ Theme Options > Blog, Portfolio &amp; Shop > Shop > Images ]
			</li>
			<li>
				WooCommerce - Show Secondary product image on Hover - Sold Out label<br />
				[ Theme Options > Blog, Portfolio &amp; Shop > Shop > Images ]
			</li>
			<li>Pre-built websites - Website without Revolution Slider - PHP Notice</li>
			<li>RTL - Muffin Builder Item - Helper</li>
		</ul>
	</div>

</div>

<div class="version">

	<h3>Version 20.0</h3>

	<div class="new">
		<span class="dashicons dashicons-plus"></span>
		<strong>New features</strong>
		<ul>
			<li>Smaller theme package - only 6 MB instead of 31 MB</li>
			<li>1-click theme updates - without additional plugins &amp; earlier than on ThemeForest</li>
			<li>Premium plugins updates - available as soon as new version is available on Codecanyon (plus time needed for compatibility tests)</li>
			<li>Automatic Revolution Slider demo installation with pre-built websites</li>
			<li>New pre-built websites - earlier than on ThemeForest</li>
		</ul>
	</div>

</div>

<!-- New features - new - plus, Bugfixes - fix - hammer, Updates - update - update -->
